fastapi>=0.121.0,<0.122.0         
uvicorn>=0.38.0,<0.39.0           
python-multipart>=0.0.20,<0.1.0   
pillow>=12.0.0,<12.1.0            
faiss-cpu>=1.12.0,<1.13.0         
torch>=2.9.0,<2.10.0              
torchvision>=0.24.0,<0.25.0       
clip-anytorch>=2.6.0,<2.7.0
colorlog >=6.10.1, <6.11.0
